In [ ]:
## Comment & Basic Data Types

In [3]:
# this is a comment
print ("Hellooo") #this is also a comment

"""
    This is a multi-line comment
"""
print("Hellooo again") #this is also another comment

Hellooo
Hellooo again

In [4]:
# the following are all integers
print(2)
print(10)

2
10

In [5]:
#the following are all floats
print(10.922)
print(8.0) #even this number is a float

10.922
8.0

In [7]:
#the following are booleans
print(True)
print(False)

#python is case sensitive!

True
False

In [10]:
#the following are strings
print("") #the white space between those two quotation marks are strings!
print("There is a snake in my boot!")
print('True') #we can also use single quotes or double quotes

There is a snake in my boot!
True

In [24]:
#this is Monday's Excercise
print ("My name is Hello Bad Pet!")
print ("Age:", 9)

type ("My name is Hello Bad Pet!")
#using type, will print out the type of data you're checking,

My name is Hello Bad Pet!
Age: 9

str

In [ ]:
#Variables

In [3]:
num1 = 5
num2 = 8.4
print(num1, num2)

5 8.4

In [4]:
#storing a boolean into a variable
switch = True
print (switch)

True

In [5]:
#storing strings into a variable
name='John Smith'
fav_number='9'
print(name,fav_number) #this line will print 9 next to the name

John Smith 9

In [6]:
#using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [7]:
#defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [13]:
#Tuesday exercises
x = 3
y = 10
print (x,y)

3 10

In [16]:
result = (x * y)
print(result)

30

In [22]:
x = '3'
y = '10'
print (x,y)

3 10

In [23]:
result = '13'
print (result)

13

In [28]:
print (x, '+', y, '=', result)

3 + 10 = 13

In [1]:
# using the addition operator without variables
name = 'John' + ' ' + 'Smith'
print(name)

John Smith

In [4]:
# using the addition operator with variables
first_name = 'John'
last_name = "Smith"
full_name = first_name + ' ' + last_name
print (full_name)

John Smith

In [7]:
# injecting variables using the format method
name = 'John'
print( 'Hello {}' .format(name))
print( 'Hello {}, you are {} years old!' .format(name,28))

Hello John
Hello John, you are 28 years old!

In [10]:
# using the new f strings
name = 'John'
print( f'Hello {name}')

Hello John

In [14]:
# one major difference between Python versions 2 here, and 3 above
name = 'John'
print ('Hello, %s.' %name)

Hello, John.

In [16]:
# python 2 multiple variable formatting
first_name = 'John'
last_name = 'Smith'
print ( 'Hello, %s %s.' % (first_name, last_name)) # surround the variables in parenthesis

Hello, John Smith.

In [28]:
# using indexes to print each element
word = 'Hello'
print ( word [0]) #will output 'H'
print ( word [1]) #will output 'e'
print ( word [2]) #will output 'l'
print ( word [3]) #will output 'l'
print ( word [4]) #will output 'o'
print ( word [-1]) #will output 'o' as well because it is counting backwards from the end

print ( word [-2]) #will output 'l' as it is counting backwards from the end
print ( word [10]) #trying to access an index out of range will crash a program

H
e
l
l
o
o
l

IndexError: string index out of range

In [27]:
print ( word [0:3]) #this is called string slicing, where we only want part of a variable

Hel

In [37]:
# example of string slicing
# the syntaxt for slicing is always [start: stop: step]
print (word [0:5:2])
print (word [0:5:1])
print (word [0:5:5])

Hlo
Hello
H

In [51]:
#wednesday exercise 1
my_integer = 23
my_float = 4
my_boolean = False
name = 'John'
print ( f'{my_integer} {my_float} {my_boolean} {name}')


#wednesday exercise 2
my_name = 'John'
my_sport = 'knitting'
my_learning = 'Python'
print ("{}'s favorite sports is {}." .format(my_name,my_sport))
print ('{} is working on {} programming!' .format(my_name,my_learning))

23 4 False John
John's favorite sports is knitting.
John is working on Python programming!

In [1]:
# using the title method to capitalize a string
name = 'john smith'
print ( name.title())

John Smith

In [3]:
# replacing an exclaimation point with a period
words = 'Hello there!'
print ( words.replace('!','.'))

Hello there.

In [6]:
# find the starting index of our search term
s = 'Look over that way'
print ( s.find('over'))

5

In [24]:
# removing white spaces with strip
name = '    john        '
print ( name.strip())
print ( name.lstrip())
print ( name.rstrip())

# removing characters with strip
name_2 = 'xxxxxmaryxxxxxx'
print ( name_2.strip('x'))
print ( name_2.lstrip('x'))
print ( name_2.rstrip('x'))

john
john
    john
mary
maryxxxxxx
xxxxxmary

In [26]:
# converting a string into a list of words
s = 'These words are seperated by spaces'
print( s.split())

['These', 'words', 'are', 'seperated', 'by', 'spaces']

In [30]:
#thursday exercise 1
my_word1 = 'uppercase'
print (my_word1)
print (my_word1.title())
print (my_word1.upper())

#thursday exercise 2
strip_symbol = ('$$John Smith')
print (strip_symbol.lstrip('$'))

uppercase
Uppercase
UPPERCASE
John Smith

In [ ]:
# Friday Project: Printing Receipts

In [27]:
#create a product and price for three items
p1_name, p1_price = 'Book', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '238 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print ( '*' * 50 )

# print company information first, using format
print ( '\t\t{}'.format( company_name.title()))
print ( '\t\t{}'.format( company_address))
print ( '\t\t{}'.format( company_city))

# print a line between sections
print ( '=' * 50)

# print out header for section of items
print ('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price))
print( '\t{}\t${}'.format(p2_name.title(), p2_price))
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price))

# print a line between sections
print ( '=' * 50)

# print out header for section of total
print ('\t\t\tTotal')

# calculate total price and print it out
total = p1_price + p2_price + p3_price
print ( '\t\t\t${}'.format(total))

# print a line between sections
print ('=' * 50)

# output thank you message
print ( '\n\t{}\n'.format(message))

# create a bottom border
print ('*' * 50)

**************************************************
		Coding Temple, Inc.
		238 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Book		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

In [1]:
# accepting and outputting user input
print ( input ('What is your name?'))

What is your name?meowmeow cat
meowmeow cat

In [2]:
# saving what the user inputs
ans = input( 'What is your name?')
print('Hello {}!'.format(ans))

What is your name?meowmeow cat
Hello meowmeow cat!

In [4]:
# how to check the data type of a variable
num = 5
print(type(num))

<class 'int'>

In [6]:
# converting a variable from one data type to another
num = '9'
num = int(num) # re-declaring num to store an integer
print(type(num)) # checking type to make sure conversion worked

<class 'int'>

In [ ]:
# working with user input to perform calculations
ans = input('Type a number to add: ')
print( type(ans)) # default type is string, must convert
result = 100 + int(ans)
print( '100 + {} = {}'.format(ans, result))

In [36]:
# using the try and except blocks, use tab to indent where necessary
try:
    ans = float(input('Type a number to add: '))
    print( '100 + {} = {}'.format(ans, 100 + ans))
except:
    print( 'You did not put in a valid number!')
# without try/except print state would not get hit if error occurs
print('The program did not break!')

Type a number to add: 5
100 + 5.0 = 105.0
The program did not break!

In [37]:
# Monday Exercise 1 
# converting a string to a boolean
exercise1 = str(True)
print( type(exercise1))
exercise1 = bool(exercise1)
print( type(exercise1))

<class 'str'>
<class 'bool'>

In [44]:
# Monday Exercise 2
sum1 = input('Enter a number here: ')
sum1 = int(sum1)
print( sum1 )
sum2 = input('Enter another number here: ')
sum2 = int(sum2)
print( sum2 )
result = sum1 + sum2
print( result )

Enter a number here: 3
3
Enter another number here: 10
10
13